/* general */

body {
    padding-top: 50px;
}


/* bootstrap adjustments */

.navbar-fixed-top {
    background-color: /*#E8EBD9*/
    rgba(224, 228, 204, .87);
    z-index: 10001;
}

.navbar-brand {
    padding-top: 13px;
    padding-bottom: 12px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}


/* shinydashbooard adjustments 

.content-wrapper {
    min-height: 100% !important;
}
*/
