:root {
    --forest-green: #08642e;
    --ocean-blue: #16b1bf;
    --background-grey: #f1f1f1;
}

body {
    padding-top: 50px;
}

.navbar-fixed-top {
    /*box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);*/
    background-color: rgba(224, 228, 204, .75);
    z-index: 10001;
}

.navbar-brand {
    padding-top: 14px;
    padding-bottom: 13px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}
