/* general */

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* bootstrap adjustments */

.navbar {
    background-color: rgba(220, 220, 220, 0.7);
    /* shinydashboard */
    z-index: 1049;
}

.navbar-fixed-top {
    background-color: rgba(220, 220, 220, 0.7);
    /* shinydashboard */
    z-index: 1049;
    height: 70px;
}


.navbar-brand>img {
    height: 100%;
    width: auto;
}

.navbar-fixed-top .navbar-brand {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8px;
}

.metrum-green-title {
    color: #08642e;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
}

#metrum-app-loading-image{
  position: absolute;
      left: 50%;
      top: 50%; 
      margin-left: -210px;
      margin-top: -100px;
}