/* general */

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* bootstrap adjustments */

.navbar {
    background-color: rgba(220, 220, 220, 0.7);
    /* shinydashboard */
    z-index: 10001;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.metrum-green-title {
    color: #08642e;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
}